<h2>Sign Up Page</h2>

    <% if @user.errors.any? %>
      <h2>Errors</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          
      </ul>
        <% end %>
    <% end %>

  <%= render 'form' %>

