  <% @training_sessions.each do |trainingsession| %>
    <div>
      <%= trainingsession.date %>
      <%= trainingsession.start_time %>
      <%= trainingsession.end_time %>
      <%= trainingsession.location %>
    </div>
  <% end %>
