<h2>Training Sessions Index Page</h2>
  <%= @training_sessions.each do |training_session| %>
<table>
  <tr><td></td></tr>
    <div "attraction_link"><%= link_to " #{training_session.date}", training_session_path(training_session) %></div>
  <tr><td></td></tr>
    <% end %>
</table>


<!--<a href='/training_sessions/new'>Back</a>-->
