<%= month_calendar events: @trainingsessions do |date, trainingsession| %>
  <%= date %>

  <% meetings.each do |trainingsession| %>
    <div>
      <%= trainingsession.name %>
    </div>
  <% end %>
<% end %>
