<h2>Trainer List</h2>
link_to trainer.name
<% @trainers.each do |trainer| %>
  <div "trainer>"<%= trainer.name %></div>
  <div "trainer_link"><%= link_to "Show #{trainer.name}", trainers_path(trainers) %></div>
<!--<div "trainer_link"><%= link_to "Show #{trainer.name}", trainer_path(trainer) %></div>--> <!-- use |trainer|-->
<% end %>
