Trainer Show page
Trainer name
Trainer specialty
Trainer bio
<% @trainers.each do |trainer| %>
  <div "trainer>"<%= trainer.name %></div>
    <div "trainer_link"><%= link_to "Show #{trainer.name}", trainer_path(trainer) %></div>
    <div "edit_trainer_link"><%= link_to "Edit #{trainer.name}", edit_trainer_path(trainer)%></div>
    <div "new_trainer_link"><%= link_to "New Trainer", new_trainer_path %></div>
<% end %>
